html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    line-height: 2;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}


/**********UTILIDADES***********/

img {
    max-width: 100%;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.flexDiv {
    display: flex;
    justify-content: space-between;
}


/*header***********/

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    font-size: 4rem;
    color: rgb(0, 157, 154);
    padding-bottom: 2rem;
    max-width: 40rem;
    line-height: 1.8;
}

.barra {
    justify-content: space-between;
    display: flex;
    align-items: center;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

header {
    background: url(./img/fondo1.jpg);
    background-color: #9D0052;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.logo {
    margin-top: 1rem;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 600px;
}

section {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/********ICONOS *********/

.titulo-Servicios {
    font-weight: 400;
    text-align: center;
}

.divServices {
    display: flex;
    justify-content: space-between;
}

.iconos-servicios {
    flex-basis: calc(22% - 1rem);
    text-align: center;
}

.iconos-servicios h3 {
    text-transform: uppercase;
    line-height: 1;
}

.iconos-servicios p {
    color: gray;
    font-size: 1.6rem;
}


/*navegacion*********/

.navegacion a {
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-size: 2rem;
    margin-right: 20px;
}

.navegacion a:hover {
    color: rgb(0, 157, 154);
    ;
}

.navegacion a:last-of-type {
    margin-right: 0px;
}

button {
    background-color: rgb(0, 131, 131);
    border: none;
    height: 4rem;
    border-radius: 2rem;
    font-size: 1.8rem;
    color: white;
}


/***ANUNCIOS**********/

.div-contenido {
    height: 75vh;
}

.contenido-anuncio {
    width: 50vw;
    padding-left: 3rem;
}

.contenido-anuncio p {
    font-size: 1.8rem;
}

.contenido-anuncio h2 {
    color: rgb(0, 131, 131);
}

.money {
    font-weight: bold;
}

.imgSection {
    height: 400px;
}


/********BOTONERA***********/

.botonera {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: solid silver 1px;
}

.botonMenu {
    height: 100%;
    border: none;
    background: none;
    color: gray;
    font-weight: 400;
    width: 25%;
}

.botonMenu:hover {
    border-bottom: 2px;
    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 2px 0px;
    cursor: pointer;
    border-radius: 0px;
    color: black;
}

.botonMenu::selection {
    border-color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
}


/**************ICONOS**********/

.flotadorRedes {
    position: fixed;
    right: 8px;
    top: 85%;
    z-index: 20;
    display: flex;
}

.iconRed {
    width: 50px;
    float: right;
    clear: right;
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
    -o-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.iconRed:hover {
    -moz-transform: scale(1.1) rotate(6deg);
    -webkit-transform: scale(1.1) rotate(6deg);
    -o-transform: scale(1.1) rotate(6deg);
    -ms-transform: scale(1.1) rotate(6deg);
    transform: scale(1.1) rotate(6deg);
}

.redes-flotantes img {
    float: right;
    clear: right;
    margin: 5px;
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
    -o-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.redes-flotantes img:hover {
    -moz-transform: scale(1.1) rotate(6deg);
    -webkit-transform: scale(1.1) rotate(6deg);
    -o-transform: scale(1.1) rotate(6deg);
    -ms-transform: scale(1.1) rotate(6deg);
    transform: scale(1.1) rotate(6deg);
}


/**FOOTER******/

footer {
    height: 10vh;
}

.divFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-Footer {
    min-height: 8vh;
    width: 200px;
}

.nav-footer a {
    font-size: medium;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
}


/********mision********/

.mision-section {
    background-color: rgb(15, 199, 207);
    height: auto;
}